.content-border {
    margin-bottom: 1.8rem;
    width:100%;
}
.body-fix {
    --gds-button-text:'Choose files local';
    --gds-dropzone-text:'No file chosen';
    
    min-height: auto;
    height: 2.8rem;
    display: flex;
    padding: 5px;
    margin: 0;
    margin-left: -5px;
    align-items: flex-start;
    justify-content: flex-start;
}