#CSS for community modifications

body,html {
    margin: 0px;
    padding: 0px;
    background: #F3F2F1;
}

div.siteforceContentArea {
    background: white;
}


body > div.siteforceStarterBody > div.cCenterPanel.slds-m-top--x-large.slds-p-horizontal--medium {
    margin: 0px !important;
    padding: 0px !important;
}

body > div.siteforceStarterBody > div.cCenterPanel.slds-m-top--x-large.slds-p-horizontal--medium > div > div > div > div > div.cb-section_row.slds-grid.slds-wrap.slds-large-nowrap > div {
    margin: 0px !important;
    padding: 0px !important;
}

body > div.siteforceStarterBody > div.cCenterPanel.slds-m-top--x-large.slds-p-horizontal--medium > div > div.slds-col--padded.comm-content-header.comm-layout-column {
    margin: 0px !important;
    padding: 0px !important;
}


body > div.siteforceStarterBody > div.cCenterPanel.slds-m-top--x-large.slds-p-horizontal--medium > div > div.slds-col--padded.comm-content-footer.comm-layout-column {
    margin: 0px !important;
    padding: 0px !important;
}

.forceCommunityFlowCommunity, .slds-card {
    border: none !important;
}

body > div.siteforceStarterBody > div.cCenterPanel.slds-m-top--x-large.slds-p-horizontal--medium > div > div.slds-col--padded.comm-content-header.comm-layout-column > div > div:nth-child(1) {
    margin-bottom: 0px !important;
}