@import 'c/govCss';

/*

It is possible to only include the parts of the gov css that are required to render this specific component.  This may give
better performance especially for smaller component and pages that do not have many components on them but required more 
maintenance in the long term.

.govuk-width-container {
    max-width: 960px;
    margin-right: 15px;
    margin-left: 15px
}

@supports (margin:max(calc(0px))) {
    .govuk-width-container {
        margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
        margin-left: max(15px, calc(15px + env(safe-area-inset-left)))
    }
}

@media (min-width:40.0625em) {
    .govuk-width-container {
        margin-right: 30px;
        margin-left: 30px
    }
    @supports (margin:max(calc(0px))) {
        .govuk-width-container {
            margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
            margin-left: max(30px, calc(15px + env(safe-area-inset-left)))
        }
    }
}

@media (min-width:1020px) {
    .govuk-width-container {
        margin-right: auto;
        margin-left: auto
    }
    @supports (margin:max(calc(0px))) {
        .govuk-width-container {
            margin-right: auto;
            margin-left: auto
        }
    }
}

.govuk-grid-row {
    margin-right: -15px;
    margin-left: -15px
}

.govuk-grid-row:after {
    content: "";
    display: block;
    clear: both
}

.govuk-grid-column-two-thirds {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px
}

@media (min-width:40.0625em) {
    .govuk-grid-column-two-thirds {
        width: 66.6666%;
        float: left
    }
}

.govuk-button {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    -webkit-box-shadow: 0 2px 0 #002d18;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none
}


@media print {
    .govuk-button {
        font-family: sans-serif
    }
}

@media (min-width:40.0625em) {
    .govuk-button {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1
    }
}

@media print {
    .govuk-button {
        font-size: 14pt;
        line-height: 19px
    }
}

@media (min-width:40.0625em) {
    .govuk-button {
        margin-bottom: 32px
    }
}

@media (min-width:40.0625em) {
    .govuk-button {
        width: auto
    }
}

.govuk-button:active, .govuk-button:hover, .govuk-button:link, .govuk-button:visited {
    color: #fff;
    text-decoration: none
}

.govuk-button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.govuk-button:hover {
    background-color: #005a30
}

.govuk-button:active {
    top: 2px
}

.govuk-button:focus {
    border-color: #fd0;
    outline: 3px solid transparent;
    -webkit-box-shadow: inset 0 0 0 1px #fd0;
    box-shadow: inset 0 0 0 1px #fd0
}

.govuk-button:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 2px 0 #0b0c0c;
    box-shadow: 0 2px 0 #0b0c0c
}

.govuk-button::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: 0 0
}

.govuk-button:active::before {
    top: -4px
}

.govuk-button--disabled, .govuk-button[disabled=disabled], .govuk-button[disabled] {
    opacity: .5
}

.govuk-button--disabled:hover, .govuk-button[disabled=disabled]:hover, .govuk-button[disabled]:hover {
    background-color: #00703c;
    cursor: default
}

.govuk-button--disabled:focus, .govuk-button[disabled=disabled]:focus, .govuk-button[disabled]:focus {
    outline: 0
}

.govuk-button--disabled:active, .govuk-button[disabled=disabled]:active, .govuk-button[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #002d18;
    box-shadow: 0 2px 0 #002d18
}

.govuk-button--secondary {
    background-color: #f3f2f1;
    -webkit-box-shadow: 0 2px 0 #929191;
    box-shadow: 0 2px 0 #929191
}

.govuk-button--secondary, .govuk-button--secondary:active, .govuk-button--secondary:hover, .govuk-button--secondary:link, .govuk-button--secondary:visited {
    color: #0b0c0c
}

.govuk-button--secondary:hover {
    background-color: #dbdad9
}

.govuk-button--secondary:hover[disabled] {
    background-color: #f3f2f1
}

.govuk-button--warning {
    background-color: #d4351c;
    -webkit-box-shadow: 0 2px 0 #55150b;
    box-shadow: 0 2px 0 #55150b
}

.govuk-button--warning, .govuk-button--warning:active, .govuk-button--warning:hover, .govuk-button--warning:link, .govuk-button--warning:visited {
    color: #fff
}

.govuk-button--warning:hover {
    background-color: #aa2a16
}

.govuk-button--warning:hover[disabled] {
    background-color: #d4351c
}

.govuk-button--start {
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media (min-width:40.0625em) {
    .govuk-button--start {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1
    }
}

@media print {
    .govuk-button--start {
        font-size: 18pt;
        line-height: 1
    }
}

.govuk-button__start-icon {
    margin-left: 5px;
    vertical-align: middle;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: center;
    align-self: center
}

@media (min-width:48.0625em) {
    .govuk-button__start-icon {
        margin-left: 10px
    }
}

.govuk-button--start {
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media (min-width:40.0625em) {
    .govuk-button--start {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1
    }
}

@media print {
    .govuk-button--start {
        font-size: 18pt;
        line-height: 1
    }
}

.govuk-button__start-icon {
    margin-left: 5px;
    vertical-align: middle;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: center;
    align-self: center
}

@media (min-width:48.0625em) {
    .govuk-button__start-icon {
        margin-left: 10px
    }
}
*/